$guatemala-white: #ffffff;
$guatemala-header-url: url("/public/images/2015/guatemala/background_pic.jpg");
$guatemala-info-color: #216D8C;

/* Header photo */
.guatemala-header-photo {
    background-image: $guatemala-header-url;
    height: 20em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 1em;
}

.guatemala-header-photo .post-title {
    margin: 0 auto;
    padding-top: 1.25em;
    text-align: center;
    color: $guatemala-white;
    font-size: 5em;
}

/* Trip Info */
.guatemala-trip-info {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    margin-top: 1em;
}

.guatemala-trip-info ul {
    height: 100%;
    text-align: justify;
    min-width: 100%;
}

.guatemala-trip-info ul li {
    height: 100%;
	display: inline-block;
}

.guatemala-trip-info ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.guatemala-trip-info ul li i{
    font-size: 3em;
    padding-right: 0.25em;
    color: $guatemala-info-color;
    vertical-align: middle;
}

.guatemala-trip.info ul li strong {
    vertical-align: middle;
}

