<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ $styles := resources.Get "css/main.css" | postCSS }} {{ if .Site.IsServer
    }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ else }} {{ $styles := $styles | minify | fingerprint |
    resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ end }}

    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="border-solid border-8 border-blue-500"></div>
    <div class="container mx-auto prose prose-lg pt-10">
      <nav class="mb-5">
        <a class="mr-5" href="/">Home</a>
        <a class="mr-5" href="/posts">Posts</a>
      </nav>
      {{ block "main" . }}{{ end }}
    </div>
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script type="module" src="assets/js/starter.js"></script>
  </body>
</html>
