<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "_internal/google_analytics_async.html" . }}

    {{ $styles := resources.Get "css/main.css" | postCSS }}
    {{ if .Site.IsServer }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
    {{ else }}
      {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ end }}

    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="border-solid border-8 border-blue-500"></div>
    <nav class="container mx-auto pt-5 pl-3 mb-5 prose prose-lg">
      <a class="mr-2 text-purple-600 font-semibold" href="/">Alex Stephen</a>
      <a class="mr-2 font-light text-gray-300">|</a>
      <a class="mr-2 text-purple-600 font-semibold" href="/posts">Posts</a>
    </nav>
    <div class="container mx-auto prose prose-lg pl-3 pr-3 pb-10">
        {{ block "main" . }}{{ end }}
    </div>
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script type="module" src="assets/js/starter.js"></script>
  </body>
</html>
