@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind is really hard to use, so I have to do this. */

.hero-image {
    margin-top: 0 !important;
}


nav a:link {
    text-decoration: none;
    font-weight: 300;
}
