/*
 * Masthead
 * Alex's custom changes for the masthead
 * TODO: Let's change all of this to SASS and clean up this nightmare.
 * TODO: Maybe merge with poole?
 */
.masthead {
	max-width: 100%;
	background-color: #AC281C;
	font-family: 'Bitter', serif;
}

.masthead-title{
	line-height: 1.25rem
}

.masthead small{
	height: 100%;
	float: right;
	margin-right: 1rem;
	vertical-align: middle;
	line-height: 1.25rem;
}

.masthead a{
	color: #fff;
	height: 100%;
	margin-left: 1rem;
	line-height: 1.25rem;
	font-weight: normal;
}	


/*
 * Homepage
 * Various changes for the homepage portion
 */

.home_title{
	margin: 0 auto;
	text-align: center;
	height: auto;
	margin-top: 7.5rem;
	margin-bottom: 7.5rem;
}

.home_images{
	height: 3rem;
	overflow: hidden;
}
.home_images img{
	width: 7.894%;
	display: inline;
}

.home_images .social_img {
	margin-right: 13.815%;
}

.post-date{
    float: right;
    margin-top: 0.5em;
    height: 100%;
    vertical-align: middle;
}

.post {
    overflow: auto;
    height: 3em;
    margin-bottom: 3em;
    line-height: 2em;
    height: 100%;
    vertical-align: middle;
}

