---

---

<div class="footer flex flex-row bg-blue-300 h-20 w-full items-center justify-center">
  <a href="https://www.twitter.com/rambleraptor"
    ><img class="mr-4 w-6" alt="Twitter" src="/twitter.svg" /></a
  >
  <a href="https://www.github.com/rambleraptor"
    ><img class="mr-4 w-6" alt="GitHub" src="/github.svg" height="20" /></a
  >
  <a href="https://www.letterboxd.com/rambleraptor"
    ><img class="mr-4 w-6" alt="Letterboxd" src="/letterboxd.svg" height="20" /></a
  >
</div>