---
import Twitter from "./icons/Twitter.astro";
import Letterboxd from "./icons/Letterboxd.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";
import IMDB from "./icons/IMDB.astro";
---

<div
  class="footer flex h-20 w-full flex-row items-center justify-center gap-8 bg-blue-300"
>
  <a href="https://www.twitter.com/rambleraptor">
    <Twitter className="h-8 w-8" />
  </a>
  <a href="https://www.github.com/rambleraptor">
    <GitHub className="h-8 w-8" />
  </a>
  <a href="https://www.letterboxd.com/rambleraptor">
    <Letterboxd className="h-8 w-8" />
  </a>
  <a href="https://www.linkedin.com/in/rambleraptor">
    <LinkedIn className="h-8 w-8" />
  </a>
  <a href="https://www.imdb.com/name/nm1906280/">
    <IMDB className="h-8 w-8" />
  </a>
</div>
