---
---
<nav
  class="container relative flex flex-wrap justify-between gap-4 p-6 md:mx-auto justify-between"
>
  <a class="text-2xl font-extrabold capitalize" href="/">Alex Stephen</a>

  <ul class="w-auto p-0 relative flex flex-row items-center gap-6">
    <li>
        <a class="mr-2" href="/writing">Writing</a>
    </li>
    <li>
        <a class="mr-2" href="/talks">Talks</a>
    </li>
  </ul>
</nav>

<style>
nav a:link {
  text-decoration: none;
  font-weight: 300;
}
</style>

