---
layout: default
---
<h1 class="home_title">{{ content }}</h1>
	
	<hr>
	<div class="home_images">
		<a class="social_img" href="https://www.github.com/astephen2"><img src="/public/github.png"></a>
		<a class="social_img" href="https://www.linkedin.com/pub/alex-stephen/5b/2b/14"><img  src="/public/linkedin.png"></a>
		<a class="social_img" href="http://www.twitter.com/astep92"><img src="/public/twitter.png"></a>
		<a class="social_img" href="/atom.xml"><img src="/public/rss.png"></a>
	</div>	


