---
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  frontmatter?: FrontMatter;
}

interface FrontMatter {
  title: string;
  description: string;
}

const { title, description, frontmatter } = Astro.props;

var realTitle: string = "";
var realDescription: string = "";
if (frontmatter != null) {
  realTitle = frontmatter!.title;
  realDescription = frontmatter!.description;
} else {
  realTitle = title!;
  realDescription = description!;
}
---

<!doctype html>
<html lang="en">
  <Head title={realTitle} description={realDescription} />
  <body>
    <div class="border-8 border-solid border-blue-500"></div>
    <Navbar />
    <div class="container prose prose-lg mx-auto pb-10 pl-3 pr-3">
      <div><slot /></div>
      <Footer />
    </div>
    <style>
      /* Tailwind is really hard to use, so I have to do this. */
      .hero-image {
        margin-top: 0 !important;
      }

      .list {
        padding-left: 0px;
      }
    </style>
  </body>
</html>
